*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #eef2fd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background-color: #297add;

  &__logo {
    width: 30px;
  }
  &__titulo {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    text-align: center
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  gap: 30px;
  height: 100%;

  &__inputTextoBotones {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__inputTexto {
      display: flex;
      width: 100%;
      height: 300px;
      border-style: none;
      border-radius: 5px;
      font-size: 1.5rem;
      margin-bottom: 15px;
      background-color: transparent;
      resize: none;
      overflow: auto;
      padding: 10px;
      border: 1px solid rgb(173, 173, 173);
    }
    &__botonesNota {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__nota {
        display: flex;
        gap: 5px;
        align-items: center;
        
        &__texto {
          font-size: 0.9rem;
          color: #4b4b4b;
          font-weight: 200;

        }
      }
      &__botones {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        
        &__encriptar {
          border: none;
          background-color: #0A3871;
          color: #fff;
          padding: 10px;
          border-radius: 3px;
          font-weight: 400;
        }
        &__desencriptar {
          border: 2px solid #0A3871;
          background-color: transparent;
          color: #0A3871;
          padding: 10px;
          border-radius: 3px;
          font-weight: 400;
        }
      }
    }
  }
  &__resultado {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;

    &__output {
      @extend .container__inputTextoBotones__inputTexto;
      height: 100%;
      font-size: 1.2rem;
      display: none;
    }
    &__img {
      display: none;
    }
    &__titulo {
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &__descripcion {
      width: 70%;
      font-size: 0.9rem;
      font-weight: 200;
    }
    &__copiar {
      @extend .container__inputTextoBotones__botonesNota__botones__desencriptar;
      width: 100%;
      display: none;
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #297add;
  color: #fff;
  text-align: center;
}
